:root {
  --secondary-color: #1d272e;
  --primary-color: #387ef9;
  --promo-color: #fff;
  --promo-bg: #2d5fb8;
  --page-primary-bg: #387ef9;
  --page-secondary-bg: #f6f9ff;
  --header-bg: #f6f9ff;
  --card-bg: #387ef924;
  --border-color: #c8d0da;
}
