:root {
  --secondary-color: #1d272e;
  --primary-color: #387ef9;
  --page-primary-bg: #fff;
  --page-secondary-bg: #f6f9ff;

  // --btn-primary-color: #fff;
  // --btn-primary-bg: #387ef9;
  // --el-border: #c8d0da;
  // --el-border-focus: #387ef9;
  // --el-bg: #fff;
  // --placeholder-color: #909599;

  // --divider-color: #e1e1e1;
  // --highlight-bg: #f6f9ff;
  --icon-switcher-background: #cfcfcf;
  --button-switcher-background: #fff;
}
