.content {
  padding-right: 0;
  padding-left: 0;

  @include tablet-landscape {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-right: var(--site-indent);
    padding-left: var(--site-indent);
  }
}
