.navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding: 144px 18px 0;
  background-color: var(--header-bg);
  color: var(--primary-color);
  font-family: var(--primary-font-family);

  &_opened {
    display: block;
  }

  @include tablet {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }

  &__link {
    display: block;
    padding-bottom: 32px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s ease;

    @include tablet {
      margin-left: 34px;
      padding-bottom: 0;
      font-size: 14px;
      line-height: 1.29;
    }

    @include only-desktop {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
