.projects {
  grid-column: 1/3;

  &__container {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;

    @include tablet-landscape {
      row-gap: 42px;
      column-gap: 24px;
    }
  }

  &__item {
    display: block;
    width: 100%;
    min-height: 240px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    background-color: #eef2fa;
    transition: transform 0.3s ease-in-out;

    @include tablet-landscape {
      min-height: 320px;
      border-radius: 20px;
    }

    @include only-desktop {
      cursor: pointer;

      &:hover {
        border-color: var(--primary-color);
        box-shadow: -7px 6px 13px #2467de30;
        transform: scale(1.05);
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    padding: 20px;

    @include tablet {
      padding: 24px;
    }
  }

  &__card-title {
    min-height: 96px;
    padding-top: 20px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--secondary-font-family);
    line-height: 1.3;
    text-align: center;

    @include tablet {
      font-size: 24px;
    }
  }

  &__info {
    margin-bottom: auto;
  }

  &__card-subtitle {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 14px;
    font-family: var(--secondary-font-family);

    @include tablet {
      font-size: 16px;
    }
  }

  &__text {
    padding-bottom: 4px;
    font-size: 12px;

    &:last-child {
      padding-bottom: 0;
    }

    @include tablet {
      font-size: 16px;
    }
  }
}
