.theme-toggle {
  display: none;

  // @include tablet {
  //   display: flex;
  //   align-items: center;
  // }

  display: flex;
  align-items: center;

  &_header {
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    fill: var(--icon-switcher-background);

    &_type_sun {
      width: 28px;
      height: 28px;
    }

    &_type_moon {
      width: 20px;
      height: 20px;
    }
  }

  &__button-container {
    padding: 0 24px;
  }

  &__button {
    appearance: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 22px;
    margin: 0;
    border-radius: 30px;
    background: var(--button-switcher-background);
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 2px;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--btn-primary-bg);
      transition: 0.3s ease;
      transform: translateX(0);
    }

    &:checked::after {
      transform: translateX(100%);
    }
  }
}
