@font-face {
  font-weight: 700;
  font-family: Montserrat;
  src: url('./../../assets/fonts/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  src: url('./../../assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
}

@font-face {
  font-weight: 400;
  font-family: Poppins;
  src: url('./../../assets/fonts/Poppins-Regular.ttf') format('ttf');
}
